<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="quizer_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <quizer_WPF.Properties.Settings>
            <setting name="Zoom" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="DefaultConfigFill" serializeAs="String">
                <value>@[fill]</value>
            </setting>
            <setting name="DefaultConfigMatch" serializeAs="String">
                <value>@[match]</value>
            </setting>
            <setting name="DefaultConfigVoc" serializeAs="String">
                <value>@[voc]</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Cambria</value>
            </setting>
        </quizer_WPF.Properties.Settings>
    </userSettings>
</configuration>